*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    padding: 2px;
}

main {
    width: 100%;
    height: 100%;
}

.cities {
    width: 150px;
    height: 150px;
}


footer .social-media {
    height: 20px;
    width: 22px;
}